{% extends "base.html" %}

{% block content %}


      
<h1>Sign up</h1>
<form method='post'action="/" style="display:inline-block;">

    
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username" required>
    <input type="hidden" name="username" value={{username}} />


    <label><b>Password</b></label>
    <input type="text" placeholder="Enter Password" name="password" required>
    <input type="hidden" name="password" value={{username}} />


    <label><b>Repeat Password</b></label>
    <input type="text" placeholder="Repeat Password" name="verify-password" required>
    <input type="hidden" name="verify-password" value={{verify_password}} />


    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <input type="hidden" name="email" value={{email}} />


 <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
 </div>
   

</form> 
{% endblock %}